
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>奥海科技新型肺炎防控信息统计表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="~/step/step-lay/step.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding-top: 40px;">
                <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;height: 600px;">
                    <div carousel-item>
                        <div>
                            <form class="layui-form" style="margin: 0 auto;max-width: 315px;padding-top: 40px;">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">工号</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="userno" name="userno" lay-verify="required" lay-reqtext="请输入工号" placeholder="请输入工号" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="username" name="username" lay-verify="required" lay-reqtext="请输入姓名" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">性别</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="sex" value="男" title="男" checked="">
                                        <input type="radio" name="sex" value="女" title="女">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">出生年份</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="test2" placeholder="yyyy" name="bornyear" lay-verify="required">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">手机</label>
                                    <div class="layui-input-inline">
                                        <input type="tel" id="phone" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                    </div>
                                    @*<div class="layui-inline">
                                            <label class="layui-form-label">部门</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="dept" name="dept" lay-verify="required" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>*@
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">一级部门</label>
                                        <div class="layui-input-block">
                                            <select id="deptonelevel" name="deptonelevel" lay-filter="deptonelevel" lay-verify="required">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">二级部门</label>
                                        <div class="layui-input-block">
                                            <select id="depttwolevel" name="depttwolevel" lay-filter="depttwolevel">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">三级部门</label>
                                        <div class="layui-input-block">
                                            <select id="deptthreelevel" name="deptthreelevel" lay-filter="deptthreelevel">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item" id="area-picker">
                                    <div class="layui-form-label">籍贯</div>
                                    <div class="layui-input-inline" style="width: 200px;">
                                        <select name="province" id="province" class="province-selector" data-value="" lay-filter="province-1">
                                            <option value="">请选择省</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline" style="width: 200px;">
                                        <select name="city" id="city" class="city-selector" data-value="" lay-filter="city-1">
                                            <option value="">请选择市</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline" style="width: 200px;">
                                        <select name="county" id="county" class="county-selector" data-value="" lay-filter="county-1">
                                            <option value="">请选择区(镇)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="formStep">
                                            &emsp;下一步&emsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">1.14天内是否在武汉或浙江温州居住:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="q1" value="是" title="是">
                                        <input type="radio" name="q1" value="否" title="否">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">2.14天内是否在湖北其他地方居住<br>如有，请填写城市名:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="q2" value="是" title="是">
                                        <input type="radio" name="q2" value="否" title="否">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="text" name="incity" placeholder="城市名" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">3.14天内是否去过/途径武汉或浙江温州:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="q3" value="是" title="是">
                                        <input type="radio" name="q3" value="否" title="否">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">4.14天内是否有来自湖北或浙江温州的亲友来访:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="q4" value="是" title="是">
                                        <input type="radio" name="q4" value="否" title="否">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">5.是否有新型冠状病毒感染的肺炎确诊病例接触史:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="q5" value="是" title="是">
                                        <input type="radio" name="q5" value="否" title="否">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">6.本人或者家属是否有感染病症:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="q6" value="是" title="是">
                                        <input type="radio" name="q6" value="否" title="否">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">7.请选择自己出现的症状（没有请选择无症状）:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="symptom" value="发热(37.3度以上)" title="发热(37.3度以上)">
                                        <input type="checkbox" name="symptom" value="咳嗽" title="咳嗽">
                                        <input type="checkbox" name="symptom" value="喉咙疼痛" title="喉咙疼痛">
                                        <input type="checkbox" name="symptom" value="头痛" title="头痛">
                                        <input type="checkbox" name="symptom" value="流鼻涕" title="流鼻涕">
                                        <input type="checkbox" name="symptom" value="无症状" title="无症状">
                                        <input type="checkbox" name="symptom" value="其他" title="其他">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="text" name="q77symptom" placeholder="其他症状" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">8.是否去医院就诊:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="q8" value="是" title="是">
                                        <input type="radio" name="q8" value="否" title="否">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">9.现在在何地(精确到门牌号或村组)？</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="nowcity" lay-verify="required" lay-reqtext="请输入地名" placeholder="请输入地名(精确到门牌号或村组)" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">10.返岗时间？</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="test1" name="returndate">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="noreturndate" value="待定" title="待定">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">11.返岗乘坐交通工具及车次？</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="vehicle" value="飞机" title="飞机">
                                        <input type="checkbox" name="vehicle" value="高铁" title="高铁">
                                        <input type="checkbox" name="vehicle" value="火车" title="火车">
                                        <input type="checkbox" name="vehicle" value="长途汽车" title="长途汽车">
                                        <input type="checkbox" name="vehicle" value="自驾车" title="自驾车">
                                        <input type="checkbox" name="vehicle" value="其他" title="其他">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="text" name="q11trainno" placeholder="车次或备注" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">12.乘车时间？</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="test3" name="ridingdate">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="noridingdate" value="待定" title="待定">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">13.乘/驾车是否途径武汉或者温州:</label>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <input type="radio" name="q13" value="是" title="是">
                                        <input type="radio" name="q13" value="否" title="否">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="formStep">
                                            &emsp;下一步&emsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <div style="text-align: center;margin-top: 90px;">
                                <i class="layui-icon layui-circle"
                                   style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                    填写成功
                                </div>
                                <div style="font-size: 14px;color: #666;margin-top: 20px;">感谢！！</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>


    <script src="~/layui-v2.5.6/layui/layui.js" charset="utf-8"></script>
    <script src="~/step/step-lay/step.js" charset="utf-8"></script>
    <script>
        //配置插件目录
        layui.config({
            base: '../mods/'
            , version: '3.0'
        },{
            base:'../step/step-lay/'
            , version: '1.0'
        });
        layui.use(['layer', 'form', 'layarea', 'step','laydate'], function () {
            var $ = layui.$
                , layer = layui.layer
                , form = layui.form
                , layarea = layui.layarea
                , step = layui.step
                , laydate = layui.laydate
                , stepcheck = false
                ,lastdate=[];
              laydate.render({
                  elem: '#test2' //指定元素
                  , type: 'year'
                  , value: '1990'
                  , isInitValue: false
              });
              laydate.render({
                  elem: '#test1' //指定元素
              });
              laydate.render({
                  elem: '#test3' //指定元素
              });
             //公告
              layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,area: '300px;'
                ,shade: 0.8
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,moveType: 1 //拖拽模式，0或者1
                ,content: '<div style="padding: 25px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;"><H3>奥海科技新型肺炎防控信息统计表</H3><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据广东省疫情防控指挥办公室《关于延迟疫情重点地区有关人员返粤时间的通知》、东莞市人力资源和社会保障局发布的《东莞市新型冠状病毒感染的肺炎疫情防控期间企业节后复工用工指引》等相关要求，鉴于目前新型肺炎疫情严重，请所有职员工配合如实填写下表，公司将对各员工进行节前返乡及节后返莞返岗情况进行摸查。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请各员工积极配合公司完成申报防控工作，如实登记个人信息（包括身份信息、身体状况、出行情况及是否接触疫区人员等）。坚决做到不假报、不错报、不缓报、不瞒报、不漏报。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;友情提示：在疫情防控期间，如果出现隐瞒实情、传播病毒等行为，构成犯罪的，将依法追究刑事责任；不构成犯罪的，依据《中华人民共和国治安管理处罚法》予以治安处罚。</div>'
              });

            step.render({
                elem: '#stepForm',
                filter: 'stepForm',
                width: '100%', //设置容器宽度
                stepWidth: '294px',
                height: '1700px',
                stepItems: [{
                    title: '基本信息'
                }, {
                    title: '健康状况'
                }, {
                    title: '完成'
                }]
            });

            layarea.render({
                elem: '#area-picker',
                change: function (res) {
                    //选择结果
                    //console.log(res);
                }
            });


            var lastdate = [];
            form.on('submit(formStep)', function (data) {
                if (!stepcheck) {
                    if (data.field.sex == undefined) {
                        layer.alert('请选择性别', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (data.field.deptonelevel == '') {
                        layer.alert('请选择一级部门', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (data.field.province == ''||data.field.city == ''||data.field.county == '') {
                        layer.alert('请选择籍贯', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    lastdate = data.field;
                    stepcheck = true;
                }
                else {
                    if (data.field.q1 == undefined) {
                        layer.alert('请选择问题1', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (data.field.q2 == undefined) {
                        layer.alert('请选择问题2', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (data.field.q2 != undefined&&data.field.q2 =='是') {
                        if (data.field.incity == '') {
                              layer.alert('问题2需填写城市名', {
                                  icon: 2,
                                  skin: 'layer-ext-moon'
                              })
                              return false;
                        }
                    }
                    if (data.field.q3 == undefined) {
                        layer.alert('请选择问题3', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (data.field.q4 == undefined) {
                        layer.alert('请选择问题4', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (data.field.q5 == undefined) {
                        layer.alert('请选择问题5', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (data.field.q6 == undefined) {
                        layer.alert('请选择问题6', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    var arr1 = new Array();
                    $("input:checkbox[name='symptom']:checked").each(function(i){
                        arr1[i] = $(this).val();
                    });
                    if (arr1.length <= 0) {
                        layer.alert('问题7至少选择一个选项', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (arr1.toString().indexOf("其他") >= 0 && data.field.q77symptom == '') {
                        layer.alert('问题7选择其他需要输入症状说明', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (data.field.q8 == undefined) {
                        layer.alert('请选择问题8', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    var arr3 = new Array();
                    if (data.field.returndate == '') {
                        $("input:checkbox[name='noreturndate']:checked").each(function (i) {
                            arr3[i] = $(this).val();
                        });
                        if (arr3.length <= 0) {
                            layer.alert('问题10返岗时间不能确定请勾选待定', {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                            return false;
                        }
                    }
                    else {
                        if (isNaN(data.field.returndate) && !isNaN(Date.parse(data.field.returndate))) {

                        }
                        else {
                            layer.alert('问题10返岗时间格式错误,请点击选择返岗日期', {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                            return false;
                        }
                    }
                    var arr2 = new Array();
                    $("input:checkbox[name='vehicle']:checked").each(function(i){
                        arr2[i] = $(this).val();
                    });
                    if (arr2.length <= 0) {
                        layer.alert('问题11至少选择一个选项', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    if (arr2.toString().indexOf("飞机") >= 0 || arr2.toString().indexOf("高铁") >= 0 || arr2.toString().indexOf("火车") >= 0) {
                        if (data.field.q11trainno == '') {
                              layer.alert('飞机高铁火车请输入车次', {
                                  icon: 2,
                                  skin: 'layer-ext-moon'
                            })
                            return false;
                        }
                    }
                    var arr4 = new Array();
                    if (data.field.ridingdate == '') {
                        $("input:checkbox[name='noridingdate']:checked").each(function (i) {
                            arr4[i] = $(this).val();
                        });
                        if (arr4.length <= 0) {
                            layer.alert('问题12乘车时间不能确定请勾选待定', {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                            return false;
                        }
                    }
                    else {
                        if (isNaN(data.field.ridingdate) && !isNaN(Date.parse(data.field.ridingdate))) {

                        }
                        else {
                            layer.alert('问题12乘车时间格式错误,请点击选择乘车日期', {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                            return false;
                        }
                    }
                    if (data.field.q13 == undefined) {
                        layer.alert('请选择问题13', {
                          icon: 2,
                          skin: 'layer-ext-moon'
                        })
                        return false;
                    }
                    lastdate.q1 = data.field.q1;
                    lastdate.q2 = data.field.q2;
                    lastdate.incity = data.field.incity;
                    lastdate.q3 = data.field.q3;
                    lastdate.q4 = data.field.q4;
                    lastdate.q5 = data.field.q5;
                    lastdate.q6 = data.field.q6;
                    lastdate.symptom = arr1.toString();
                    lastdate.q77symptom = data.field.q77symptom;
                    lastdate.q8 = data.field.q8;
                    lastdate.nowcity = data.field.nowcity;
                    if (data.field.returndate == '') {
                        lastdate.returndate = arr3.toString();
                    }
                    else {
                        lastdate.returndate = data.field.returndate;
                    }
                    lastdate.vehicle = arr2.toString();
                    lastdate.q11trainno = data.field.q11trainno;
                    if (data.field.ridingdate == '') {
                        lastdate.ridingdate = arr4.toString();
                    }
                    else {
                        lastdate.ridingdate = data.field.ridingdate;
                    }
                    lastdate.q13 = data.field.q13;
                    //lastdate.push(data.field);
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("Add","Home")",
                        data: {'username':lastdate.username,'userno':lastdate.userno,'sex':lastdate.sex,'bornyear':lastdate.bornyear,'phone':lastdate.phone,'dept':lastdate.dept,'province':lastdate.province,'city':lastdate.city,'county':lastdate.county,'q1':lastdate.q1,'q2':lastdate.q2,'incity':lastdate.incity,'q3':lastdate.q3,'q4':lastdate.q4,'q5':lastdate.q5,'q6':lastdate.q6,'symptom':lastdate.symptom,'q77symptom':lastdate.q77symptom,'q8':lastdate.q8,'nowcity':lastdate.nowcity,'returndate':lastdate.returndate,'vehicle':lastdate.vehicle,'q11trainno':lastdate.q11trainno,'ridingdate':lastdate.ridingdate,'q13':lastdate.q13,'deptonelevel':lastdate.deptonelevel,'depttwolevel':lastdate.depttwolevel,'deptthreelevel':lastdate.deptthreelevel},
                        dataType: "json"
                    });
                    layer.alert('提交成功!', {
                            icon: 1,
                            skin: 'layer-ext-moon'
                    })
                }

                step.next('#stepForm');
                $('html,body').animate({scrollTop: '0px'}, 800);
                return false;
            });
                $.ajax({
                   url: "@Url.Action("DeptQueryOne","Home")",
                   type: "post",
                   dataType : "json",
                   async: false,
                    success: function (result) {
                        var jsonresult = $.parseJSON(result);
                        var strs = '';
                       for(var x in jsonresult){
                          strs += '<option value = "' + jsonresult[x].onelevel + '">' + jsonresult[x].onelevel + '</option>'
                       } 
                        $("#deptonelevel").html(strs);
                        form.render('select');//最后记得渲染
                       }
                 });
                 form.on('select(deptonelevel)', function(data){ //no是那个lay-filter的值
                                    var deptonelevel=$("#deptonelevel").val();//获得选中的option的值
                                            $.ajax({
                                            url: "@Url.Action("DeptQueryTwo","Home")",//带参数将这个传到后台条件查询方法里面
                                            type: "post",
                                            data: {"onelevel":deptonelevel},
                                            dataType : "json",
                                            async: false,//同步
                                            success: function (result) {
                                                var jsonresult = $.parseJSON(result);
                                                 var str = '';
                                                for(var x in jsonresult){
                                                str += '<option value = "' + jsonresult[x].twolevel + '">' + jsonresult[x].twolevel + '</option>'
                                                } 
                                                $("#depttwolevel").html(str);
                                                }
                                            });
                                            form.render('select');//最后记得渲染
                                        });
                   form.on('select(depttwolevel)', function(data){ //no是那个lay-filter的值
                                    var depttwolevel=$("#depttwolevel").val();//获得选中的option的值
                                            $.ajax({
                                            url: "@Url.Action("DeptQueryThree","Home")",//带参数将这个传到后台条件查询方法里面
                                            type: "post",
                                            data: {"twolevel":depttwolevel},
                                            dataType : "json",
                                            async: false,//同步
                                            success: function (result) {
                                                var jsonresult = $.parseJSON(result);
                                                 var str = '';
                                                for(var x in jsonresult){
                                                str += '<option value = "' + jsonresult[x].threelevel + '">' + jsonresult[x].threelevel + '</option>'
                                                } 
                                                $("#deptthreelevel").html(str);
                                                }
                                            });
                                            form.render('select');//最后记得渲染
                                        });


            $(function(){
               //输入框的值改变时触发
              $("#userno").on("input",function(e){
                //获取input输入的值
                  var usernovalue = e.delegateTarget.value;
                  //console.log(usernovalue);
                  $.ajax({
                        type:'get',
                        url:'@Url.Action("Query","Home")',
                        cache:false,
                        dataType: 'json',
                        data: { 'userno': usernovalue },
                        success:function(data){
                            $("#username").val(data.username);
                            $("#test2").val(data.bornyear);
                            //$("#phone").val(data.phone);
                            $("#deptonelevel").val(data.deptonelevel);
                                                                var deptonelevel=$("#deptonelevel").val();//获得选中的option的值
                                            $.ajax({
                                            url: "@Url.Action("DeptQueryTwo","Home")",//带参数将这个传到后台条件查询方法里面
                                            type: "post",
                                            data: {"onelevel":deptonelevel},
                                            dataType : "json",
                                            async: false,//同步
                                            success: function (result) {
                                                var jsonresult = $.parseJSON(result);
                                                 var str = '';
                                                for(var x in jsonresult){
                                                str += '<option value = "' + jsonresult[x].twolevel + '">' + jsonresult[x].twolevel + '</option>'
                                                } 
                                                $("#depttwolevel").html(str);
                                                }
                                            });
                                                        form.render('select');//最后记得渲染
                                                        $("#depttwolevel").val(data.depttwolevel);

                            var depttwolevel=$("#depttwolevel").val();//获得选中的option的值
                                            $.ajax({
                                            url: "@Url.Action("DeptQueryThree","Home")",//带参数将这个传到后台条件查询方法里面
                                            type: "post",
                                            data: {"twolevel":depttwolevel},
                                            dataType : "json",
                                            async: false,//同步
                                            success: function (result) {
                                                var jsonresult = $.parseJSON(result);
                                                 var str = '';
                                                for(var x in jsonresult){
                                                str += '<option value = "' + jsonresult[x].threelevel + '">' + jsonresult[x].threelevel + '</option>'
                                                } 
                                                $("#deptthreelevel").html(str);
                                                }
                                            });
                            form.render('select');//最后记得渲染
                                                        $("#deptthreelevel").val(data.deptthreelevel);
                            $("input[name=sex][value='男']").attr("checked", data.sex == '男' ? true : false);
                            $("input[name=sex][value='女']").attr("checked", data.sex == '女' ? true : false);
                            $("select[name=province]").val(data.province);
                            $("select[name=city]").val(data.city);
                            $("select[name=county]").val(data.county);
                            layarea.render({
                                elem: '#area-picker',
                                 data: {
                                     province: data.province,
                                     city: data.city,
                                     county: data.county,
                                 },
                                change: function (res) {
                                    //选择结果
                                    console.log(res);
                                }
                            });
                            form.render();
                        }
                    });
              });
            });
        });
    </script>

</body>
</html>